* {
  margin: 0px;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main_con {
  /* border: 1px solid; */
  padding: 30px 10px;
}
.main_con .row {
  padding: 10px 0px;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
}

.main_con .sub-t {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 48%;
}

.main_con .sub-t h3 {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  left: 5%;
}
.main_con .sub-t button {
  width: 50%;
}

.main_con .contain {
  position: relative;
}

.main_con .contain img {
  width: 80%;
  height: 70vh;
  box-shadow: 3px 3px 10px black;
  overflow: hidden;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.main_con .contain .description {
  background: rgba(27, 27, 27, 0.5);
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  bottom: -0px;
  width: 80%;
  padding: 0 20px;
  z-index: 100;
  height: 50px;
  pointer-events: none;
  transition: all 200ms ease-in-out;
}

.main_con .contain .description p {
  visibility: hidden;
}

.main_con .contain .description .news-title {
  font-size: 2.5em;
}

.main_con .contain img:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.main_con .contain img:hover + .description {
  bottom: 0px;
  height: auto;
}

.main_con .contain img:hover + .description p {
  visibility: visible;
}
