:root {
  --body-color: #f6d162;
}

* {
  margin: 0px;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links_disabled {
  pointer-events: none;
}

body {
  background-color: var(--body-color);
}

.navbar {
  padding-bottom: 0px;
}

.navbar .navbar-toggler {
  margin-bottom: 10px;
}

.nav-item {
  margin-left: 20px;
  text-align: center;
}

.nav-item:hover {
  color: #fff;
  background-color: #333;
  border-radius: 20px 20px 0 0;
}

.nav-active {
  color: #000000 !important;
  font-weight: bold;
  background-color: var(--body-color);
  border-radius: 20px 20px 0 0;
  margin-bottom: 0px;
  border-bottom: 5px dashed rgb(6, 120, 220);
}

main {
  padding-bottom: 5vh;
}

.main_con {
  /* border: 1px solid; */
  padding: 30px 10px;
  padding-bottom: 20vh;
}
.main_con .row {
  padding: 60px 40px;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
}

.main_con .sub-t {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 48%;
}

.main_con .sub-t h3 {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  left: 5%;
}
.main_con .sub-t button {
  width: 50%;
}

.main_con .contain {
  position: relative;
}

.main_con .contain img {
  /* margin-top: ; */
  width: 95%;
  height: 60vh;
  box-shadow: 3px 3px 10px black;
  overflow: hidden;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.main_con .contain .description {
  background: rgba(27, 27, 27, 0.5);
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  bottom: -0px;
  width: 95%;
  padding: 10px 20px;
  z-index: 100;
  height: 60px;
  pointer-events: none;
  transition: all 200ms ease-in-out;

  /* border: 3px solid red; */
}

.main_con .contain .description p {
  visibility: hidden;
}

.main_con .contain .description .news-title {
  font-size: 2.5em;
}

.main_con .contain img:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.main_con .contain img:hover + .description {
  bottom: 0px;
  height: auto;
  transform: scale(1.01);
  background: rgba(27, 27, 27, 1);
}

.main_con .contain img:hover + .description p {
  visibility: visible;
}

@media only screen and (max-width: 992px) {
  .nav-item {
    margin-left: 0px;
  }

  .nav-item:hover {
    font-weight: bold;
    border-radius: 20px;
  }

  .nav-active {
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 0px;
    border-bottom: none;
  }

  .main_con .row {
    padding: 20px 10px;
  }
  .main_con .contain img {
    margin-top: 10vh;
  }
}
